h1, h2, h3 {
  font-weight: normal;
  color: #273B8C;
}
a, a > code {
  color: #356FB6;
}

.inverse {
  background-color: #273B8C;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #FBF6BA;
}

.remark-code, .remark-inline-code { font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace; color: #356FB6}


/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          1px solid #273B8C;
  border-bottom:       1px solid #273B8C;
}

/*-- Table header --*/
.remark-slide table thead th {
  border-bottom:       1px solid #273B8C;
}

/*-- Table rows (even) --*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background:          #D7F4F5;
}

.remark-code-line-highlighted {
	background-color: #FBF6BA;
	font-weight: bold;
}

.pull-left {
  padding-top: 0px;
}

.pull-right > span:nth-child(1) {
  right: 0.5em;
}
.pull-left-narrow {
  float: left;
  width: 20%;
}

.pull-right-wide {
  float: right;
  width: 65%;
}


/*-- Footnote --*/
.footnote {
  position:           absolute;
  bottom:             2em;
  padding-right:      2em;
  font-size:          70%;
  line-height:        1em;
}

.hljs-github .hljs-comment, .hljs-github .hljs-quote {
	color: #356FB6;
	font-style: italic;
}

