h1, h2, h3 {
  font-weight: normal;
  color: #3a6321;
}
a, a > code {
  color: #7f9624;
}

.inverse {
  background-color: #3a6321;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #f0e64a;
}

.remark-code, .remark-inline-code { font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace; color: #6a7b26}


/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          1px solid #768692;
  border-bottom:       1px solid #768692;
}

/*-- Table header --*/
.remark-slide table thead th {
  border-bottom:       1px solid #768692;
}

/*-- Table rows (even) --*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background:          #f5f9e4;
}

.remark-code-line-highlighted {
	background-color: #ff80;
	font-weight: bold;
}

.pull-left {
  padding-top: 0px;
}

.pull-left-narrow {
  float: left;
  width: 20%;
}

.pull-right-wide {
  float: right;
  width: 65%;
}


/*-- Footnote --*/
.footnote {
  position:           absolute;
  bottom:             2em;
  padding-right:      4em;
  font-size:          70%;
  line-height:        1em;
}

.hljs-github .hljs-comment, .hljs-github .hljs-quote {
	color: #566225;
	font-style: italic;
}

